/* Main Code */

html
{
    height: 100%;
}

body
{
    background-color: rgb(144, 192, 248);
	background-image: url('./images/top.gif');
	background-position: top left;
	background-repeat: repeat-x;
	height: 100%;
}

iframe
{
    border: 0px;
}

/* Header Code */
#pipes
{
    table-layout: fixed;
    margin: auto;
    margin-top: 10px;
}

.pipe
{
    width: 88px;
    padding-right: 16px;
    padding-left: 16px;
    background-image: url('./images/pipe.png');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 89px;
}

.pipelabel
{
    width: 88px;
    padding: 4px;
    padding-top: 5px;
    height: 36px;
    vertical-align: middle;
    text-align: center;
}

.pipelabel a
{
    unicode-bidi: normal;
}

.link-home     { display: block; width: 62px; height: 30px; background-attachment: scroll; background-image: url('./headicons/home.gif'); background-position: top; margin: auto; }
.link-episodes { display: block; width: 94px; height: 30px; background-attachment: scroll; background-image: url('./headicons/episodes.gif'); background-position: top; margin: auto; }
.link-graphics { display: block; width: 62px; height: 30px; background-attachment: scroll; background-image: url('./headicons/graphics.gif'); background-position: top; margin: auto; }
.link-links    { display: block; width: 78px; height: 30px; background-attachment: scroll; background-image: url('./headicons/links.gif'); background-position: top; margin: auto; }
.link-wiki     { display: block; width: 62px; height: 30px; background-attachment: scroll; background-image: url('./headicons/w.gif'); background-position: top; margin: auto; }
.link-forums   { display: block; width: 94px; height: 30px; background-attachment: scroll; background-image: url('./headicons/forums.gif'); background-position: top; margin: auto; }

.link-home:hover     { background-position: bottom; }
.link-episodes:hover { background-position: bottom; }
.link-graphics:hover { background-position: bottom; }
.link-links:hover    { background-position: bottom; }
.link-wiki:hover     { background-position: bottom; }
.link-forums:hover   { background-position: bottom; }

/* Page Code */
.block-links td.blue-mid-center, .block-links td.green-mid-center, .block-links td.orange-mid-center, .block-links td.white-mid-center
{
    height: 150px;
}

.panel-links-td 
{
	margin: auto;
	padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

/* Graphics Code */
#main-table
{
	/*background-image: url("./footer/footer-2.gif");*/
	background-position: bottom left;
	background-repeat: repeat-x;
}

.menu 
{
    height: 50px;
    padding-top: 6px;
    text-align: center;
}

/* Footer Code */
#footer
{
    height: 64px;
	background-image: url('./images/footer.png');
	background-repeat: repeat-x;
	vertical-align: bottom;
}

#footer-water
{
    height: 68px;
	background-image: url('./images/footer-water.gif');
	background-repeat: repeat-x;
	vertical-align: bottom;
}

#footer-links
{
    font-family: "Microsoft Yahei";
    vertical-align: bottom;
    width: 100%;
}

#link-nextpage
{
	margin-bottom: -32px;
}

.affiliate-image
{
    opacity: 0.5;
}

.affiliate-image:hover
{
    opacity: 1;
}

.footer-image
{
    margin: auto;
}

.footer-left
{
    background-color: rgb(144, 192, 248);
    border-top: solid 2px #000000;
    border-right: solid 2px #000000;
    float: left;
    font-size: 8pt;
    padding-left: 2px;
    padding-right: 2px;
}

.footer-right
{
    background-color: rgb(144, 192, 248);
    border-top: solid 2px #000000;
    border-left: solid 2px #000000;
    float: right;
    font-size: 8pt;
    padding-left: 2px;
    padding-right: 2px;
}

.valign-bottom
{
	vertical-align: bottom;
}

/* Block Code */
#everything
{
    margin-bottom: 16px;
    table-layout: fixed;
}

    .blue-top
    {
        height: 16px;
    }

        .blue-top-left
        {
            table-layout: fixed;
            max-height: 16px;
            max-width: 16px;
            height: 16px;
            width: 16px;
            background-image: url('./images/btl.png');
        }

        .blue-top-center
        {
            height: 16px;
            background-image: url('./images/btc.png');
        }

        .blue-top-right
        {
            table-layout: fixed;
            max-height: 16px;
            max-width: 16px;
            height: 16px;
            width: 16px;
            background-image: url('./images/btr.png');
        }

    .blue-mid
    {
    }

        .blue-mid-left
        {
            table-layout: fixed;
            max-height: 16px;
            max-width: 16px;
            height: 16px;
            width: 16px;
            background-image: url('./images/bml.png');
        }

        .blue-mid-center
        {
            background-color: rgb(88, 200, 248);
        }

        .blue-mid-right
        {
            table-layout: fixed;
            max-height: 16px;
            max-width: 16px;
            height: 16px;
            width: 16px;
            background-image: url('./images/bmr.png');
        }

    .blue-bot
    {
        height: 16px;
    }

        .blue-bot-left
        {
            table-layout: fixed;
            max-height: 16px;
            max-width: 16px;
            height: 16px;
            width: 16px;
            background-image: url('./images/bbl.png');
        }

        .blue-bot-center
        {
            height: 16px;
            background-image: url('./images/bbc.png');
        }

        .blue-bot-right
        {
            table-layout: fixed;
            height: 16px;
            width: 16px;
            background-image: url('./images/bbr.png');
        }

    .green-top
    {
        height: 16px;
    }

        .green-top-left
        {
            table-layout: fixed;
            max-height: 16px;
            max-width: 16px;
            height: 16px;
            width: 16px;
            background-image: url('./images/gtl.png');
        }

        .green-top-center
        {
            height: 16px;
            background-image: url('./images/gtc.png');
        }

        .green-top-right
        {
            table-layout: fixed;
            max-height: 16px;
            max-width: 16px;
            height: 16px;
            width: 16px;
            background-image: url('./images/gtr.png');
        }

    .green-mid
    {
    }

        .green-mid-left
        {
            table-layout: fixed;
            max-height: 16px;
            max-width: 16px;
            height: 16px;
            width: 16px;
            background-image: url('./images/gml.png');
        }

        .green-mid-center
        {
            background-color: rgb(128, 184, 80);
        }

        .green-mid-right
        {
            table-layout: fixed;
            max-height: 16px;
            max-width: 16px;
            height: 16px;
            width: 16px;
            background-image: url('./images/gmr.png');
        }

    .green-bot
    {
        height: 16px;
    }

        .green-bot-left
        {
            table-layout: fixed;
            max-height: 16px;
            max-width: 16px;
            height: 16px;
            width: 16px;
            background-image: url('./images/gbl.png');
        }

        .green-bot-center
        {
            height: 16px;
            background-image: url('./images/gbc.png');
        }

        .green-bot-right
        {
            table-layout: fixed;
            height: 16px;
            width: 16px;
            background-image: url('./images/gbr.png');
        }

    .orange-top
    {
        height: 16px;
    }

        .orange-top-left
        {
            table-layout: fixed;
            max-height: 16px;
            max-width: 16px;
            height: 16px;
            width: 16px;
            background-image: url('./images/otl.png');
        }

        .orange-top-center
        {
            height: 16px;
            background-image: url('./images/otc.png');
        }

        .orange-top-right
        {
            table-layout: fixed;
            max-height: 16px;
            max-width: 16px;
            height: 16px;
            width: 16px;
            background-image: url('./images/otr.png');
        }

    .orange-mid
    {
    }

        .orange-mid-left
        {
            table-layout: fixed;
            max-height: 16px;
            max-width: 16px;
            height: 16px;
            width: 16px;
            background-image: url('./images/oml.png');
        }

        .orange-mid-center
        {
            background-color: rgb(248, 144, 72);

        }

        .orange-mid-right
        {
            table-layout: fixed;
            max-height: 16px;
            max-width: 16px;
            height: 16px;
            width: 16px;
            background-image: url('./images/omr.png');
        }

    .orange-bot
    {
        height: 16px;
    }

        .orange-bot-left
        {
            table-layout: fixed;
            max-height: 16px;
            max-width: 16px;
            height: 16px;
            width: 16px;
            background-image: url('./images/obl.png');
        }

        .orange-bot-center
        {
            height: 16px;
            background-image: url('./images/obc.png');
        }

        .orange-bot-right
        {
            table-layout: fixed;
            height: 16px;
            width: 16px;
            background-image: url('./images/obr.png');
        }

    .white-top
    {
        height: 16px;
    }

        .white-top-left
        {
            table-layout: fixed;
            max-height: 16px;
            max-width: 16px;
            height: 16px;
            width: 16px;
            background-image: url('./images/wtl.png');
        }

        .white-top-center
        {
            height: 16px;
            background-image: url('./images/wtc.png');
        }

        .white-top-right
        {
            table-layout: fixed;
            max-height: 16px;
            max-width: 16px;
            height: 16px;
            width: 16px;
            background-image: url('./images/wtr.png');
        }

    .white-mid
    {
    }

        .white-mid-left
        {
            table-layout: fixed;
            max-height: 16px;
            max-width: 16px;
            height: 16px;
            width: 16px;
            background-image: url('./images/wml.png');
        }

        .white-mid-center
        {
            background-color: rgb(224, 224, 224);
        }

        .white-mid-right
        {
            table-layout: fixed;
            max-height: 16px;
            max-width: 16px;
            height: 16px;
            width: 16px;
            background-image: url('./images/wmr.png');
        }

    .white-bot
    {
        height: 16px;
    }

        .white-bot-left
        {
            table-layout: fixed;
            max-height: 16px;
            max-width: 16px;
            height: 16px;
            width: 16px;
            background-image: url('./images/wbl.png');
        }

        .white-bot-center
        {
            height: 16px;
            background-image: url('./images/wbc.png');
        }

        .white-bot-right
        {
            table-layout: fixed;
            height: 16px;
            width: 16px;
            background-image: url('./images/wbr.png');
        }